html
 head
    title=title
link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', 
rel='stylesheet')
body
div.top
    form.form-horizontal(method="post", id="loginForm")
      label Username
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Table
            th Heading
        tbody
          tr
            td Blah
            td Test
          tr
            td Hello
            td World
 
  div.footer
