doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/theme/css/bootstrap.min.css')
    link(rel='stylesheet', href='/theme/css/agency.css')
    link(rel='stylesheet', href='/themefont-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kaushan+Script')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/theme/js/bootstrap.min.js') 
    script(src='/theme/js/jquery.js') 
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js') 
    script(src='/theme/js/classie.js') 
    script(src='/theme/js/cbpAnimatedHeader.js') 
    script(src='/theme/js/jqBootstrapValidation.js') 
    script(src='/theme/js/contact_me.js') 
    script(src='/theme/js/agency.js') 




